@import "../utils/variables";

.logo {
  display: flex;
  cursor: pointer;
}

.logo__text {
  margin: 5px 5px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 44px;
}

@media (max-width: $desktop-width) {
  .logo__text {
    margin: 5px 5px 5px 14px;
  }
}

@media (max-width: $tablet-width) {
  .logo {
    //margin-left: calc(10% + 10px);
  }

  .logo__text {
    display: none;
  }

  .logo img {
    width: 38px;
    height: 38px;
  }

  .logo--footer .logo__text {
    display: flex;
  }

  .logo--footer img {
    width: 52px;
    height: 52px;
  }

  .logo--footer {
    margin-left: calc(10% + 31px);
  }

  .logo__text img {
    width: auto;
    height: auto;
  }
}
