@import "../utils/variables";

.questions {
  background-color: $blue;
  padding-top: 63px;
  color: white;
  padding-bottom: 108px;
  overflow: hidden;
}

.questions__wrapper {
  margin: 0 auto;
  max-width: 1190px;
  position: relative;
  z-index: 3;
}

.questions__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -206px;
  width: 2000px;
  //width: 700px;
  height: 560px;
  background: url("../img/paper-airplane.png") no-repeat 190px 69px, url("../img/bg-triangles.svg") no-repeat;
  overflow-x: hidden;
}

.questions h2 {
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: white;
  font-stretch: condensed;
  margin-left: 50%;
  margin-bottom: 8px;
  position: relative;
  z-index: 3;
}

.questions p {
  margin-left: 50%;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 52px;
  position: relative;
  z-index: 3;
}

.questions__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: calc(50% - 24px);
  margin-right: 0;
  margin-left: calc(50% + 14px);
  position: relative;
  z-index: 3;
}

@media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
  .questions__wrapper::before {
    background: url("../img/paper-airplane@2x.png") no-repeat 190px 69px, url("../img/bg-triangles.svg") no-repeat;
    background-size: 511px 288px;
  }
}

@media (max-width: $desktop-width) {
  .questions {
    padding-top: 60px;
    padding-bottom: 99px;
  }

  .questions__wrapper {
    max-width: 770px;
    padding: 0 99px 0 68px;
  }

  .questions__wrapper::before {
    display: none;
  }

  .questions h2 {
    margin-left: 10px;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 21px;
  }

  .questions p {
    margin-left: 10px;
    margin-bottom: 54px;
    font-size: 17px;
  }

  .questions__form {
    margin-left: 10px;
    max-width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .questions {
    padding-top: 8px;
    padding-bottom: 43px;
  }

  .questions__wrapper {
    max-width: 600px;
    padding: 0 25px 0 15px;
  }

  .questions h2 {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 12px;
  }

  .questions p {
    font-size: 16px;
    margin-bottom: 26px;
  }
}
