footer.footer
  div.footer__main
    div.footer__social
      a.footer__logo.logo
        img(src="img/logo.svg" alt="Логотип Smart Device")
        div.logo__text
          p Smart Device
          span умные технологии
      ul.footer__social-networks.social
        li.social__item.social__item--fb
          a.social__link.link(href="#" aria-label="Smart Device на Facebook")
        li.social__item.social__item--ok
          a.social__link.link(href="#" aria-label="Smart Device на Одноклассниках")
        li.social__item.social__item--vk
          a.social__link.link(href="#" aria-label="Smart Device Вконтакте")

    div.footer__sections.sections
      h2 Разделы сайта
      ul.sections__list
        li.sections__item
          a.sections__link.link(href="#") О компании
        li.sections__item
          a.sections__link.link(href="#") Продукты
        li.sections__item
          a.sections__link.link(href="#") Производство печатных плат
        li.sections__item
          a.sections__link.link(href="#") Монтаж печатных плат
      ul.sections__list
        li.sections__item
          a.sections__link.link(href="#") Комплектующие
        li.sections__item
          a.sections__link.link(href="#") Комплектующие
        li.sections__item
          a.sections__link.link(href="#") Контакты

    div.footer__contacts.contacts
      h2 Наш офис
      p г. Мытищи, Олимпийский проспект, д.10
      a.contacts__link.link(href="tel:+74955894050") +7 (495) 589-40-50
      a.contacts__link.link(href="tel:+79250038767") +7 (925) 003-87-67
      a.contacts__link.link(href="tel:+792692608079") +7 (926) 926-080-79
      a(class='contacts__link' href='tel:+74955894050') +7 (495) 589-40-50
      a(class='contacts__link' href='tel:+79250038767') +7 (925) 003-87-67
      a(class='contacts__link' href='tel:+792692608079') +7 (926) 926-080-79

  div.footer__add
    span Все права защищены
    span 1999-2018 SD Service Devices
    a.footer__link(href='#') Условия конфиденциальности
    a.footer__link(href='#') Developed by wow studio

