header.header
  .header__wrapper
    a.header__logo.logo
      img(src='img/logo.svg' alt='Логотип Smart Device' width="52" height="52")
      .logo__text
         img(src="img/logo-name.svg" alt="название" width="134" height="20")
         img(src="img/logo-technologies.svg" alt="Технологии" width="106" height="15")
    .header__info
      a.header__link.header__link--mail.link(href='mailto:info@sd.ru') info@sd.ru
      a.header__link.header__link--tel.link(href="tel:+74950005252") +7 (495) 000 52 52
      button(class='header__button button' type='button') Заказать звонок
