@import "../../local_modules/normalize.css/normalize";

@import "../utils/variables";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: $mobile-width;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
