extends common/layout

block content
  main.main
    section.presentation
      .presentation__wrapper
        .presentation__text
          h1 Печатные платы
          p производство и монтаж, поставка комплектующих, блоков и модулей
          a.presentation__button.button(href="#questions")
            span.button__text.button__text--default Получить бесплатную консультацию
            span.button__text.button__text--mobile Бесплатная консультация
          a.presentation__scroll(href="#advantages") Скролл вниз
        picture
          source(type="image/webp" srcset="img/boards.webp 1x, img/boards@2x.webp")
          // 1х: 705px; 2x: 1410px
          img(src="img/boards.png" srcset="img/boards.png 1x, img/boards@2x.png" alt="Печатные платы" width="705" height="515")

    section#advantages.advantages
      .advantages__wrapper
        h2.visually-hidden Преимущества
        ul.advantages__list
          li.advantages__item.advantages__item--deadlines
            svg.advantages__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="29" height="35")
              use(xlink:href="img/sprite.svg#icon-deadlines")
            h3 Оперативные сроки
            p Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки
          li.advantages__item.advantages__item--suppliers
            svg.advantages__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
              use(xlink:href="img/sprite.svg#icon-suppliers")
            h3 Крупные поставщики
            p Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспечивает хорошее качество нашей продукции.
          li.advantages__item.advantages__item--confidentiality
            svg.advantages__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="32")
              use(xlink:href="img/sprite.svg#icon-confidentiality")
            h3 Полная конфиденциальность
            p По желанию клиента мы обеспечиваем полную конфеденциальность.
          li.advantages__item.advantages__item--cost
            svg.advantages__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
              use(xlink:href="img/sprite.svg#icon-cost")
            h3 Персонализация стоимости
            p Мы подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.

    section.about
      .about__wrapper
        h2 О компании
        p Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.
        p
          span.about__main-text Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог
          span.about__add-text (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
        button.about__button.button(type="button") Подробнее

    section.services
      .services__wrapper
        h2 Service Device предлагает следующие товары и услуги
        ul.services__list
          li.services__item.services__item--manufacturing
            a.services__link(href="#")
              h3 Производство печатных плат
          li.services__item.services__item--assembling
            a.services__link(href="#")
              h3 Монтаж печатных плат
          li.services__item.services__item--lighting
            a.services__link(href="#")
              h3 Комплектующие для светотехники

    section#questions.questions
      .questions__wrapper
        h2 Остались вопросы? Задайте их нам!
        p Мы проконсультируем Вас бесплатно
        form.questions__form.form(action="https://echo.htmlacademy.ru" method="post" autocomplete="on")
          input(type="text" placeholder="Имя" required)
          input(type="tel" placeholder="Телефон" required)
          textarea(placeholder="Ваш вопрос" required)
          button.form__button.button(type="submit") Задать вопрос
          input.visually-hidden#agree(type="checkbox" name="agree" required)
          label(for="agree") Я согласен на обработку персональных данных

    section.popup.popup-closed
      h2 Закажите звонок
      button.popup__close-button
      p Оставьте контакты, мы проконсультируем вас бесплатно в удобное время
      form.popup__form.form
        input(type="text" placeholder="Имя" required)
        input(type="tel" placeholder="Телефон" required)
        textarea(placeholder="Ваш вопрос" required)
        button.form__button.button(type="submit") Отправить
        input.visually-hidden#agree-popup(type="checkbox" name="agree-popup" required)
        label(for="agree-popup") Я согласен на обработку персональных данных

    .overlay.overlay--hidden
