extends common/layout

block content
  main.main
    section.presentation
      div.presentation__wrapper
        div.presentation__text
          h1 Печатные платы
          p производство и монтаж, поставка комплектующих, блоков и модулей
          button.presentation__button.button(type="button")
            span.button__text.button__text--default Получить бесплатную консультацию
            span.button__text.button__text--mobile Бесплатная консультация
          a.presentation__scroll(href="#") Скролл вниз
        img(src="img/boards.png" alt="Печатные платы" width="705" height="515")

    section.advantages.container
      h2.visually-hidden Преимущества
      ul.advantages__list
        li.advantages__item
          h3 Оперативные сроки
          p Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки
        li.advantages__item
          h3 Крупные поставщик
          p Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспичивает хорошее качество нашей продукции.
        li.advantages__item
          h3 Полная конфиденциальность
          p По желанию клиента мы обеспечиваем полную конфеденциальность.
        li.advantages__item
          h3 Персонализация стоимости
          p Мы подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.

    section.about.container
      h2 О компании
      p Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.
      p Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
      button.about__button.button(type="button") Подробнее

    section.services.container
      h2 Service Device предлагает следующие товары и услуги
      ul.services__list
        li.services__item
          h3 Производство  печатных плат
        li.services__item
          h3 Монтаж печатных плат
        li.services__item
          h3 Комплектующие для светотехники

    section.questions.container
      form.questions__form(action="https://echo.htmlacademy.ru" method="post" autocomplete="on")
        h2 Остались вопросы? Задайте их нам!
        p Мы проконсультируем Вас бесплатно
        input(type="text" placeholder="Имя")
        input(type="tel" placeholder="Телефон")
        textarea(placeholder="Ваш вопрос")
        button.questions__button.button(type="submit") Задать вопрос
        input#agree(type="checkbox" name="agree")
        label(for="agree") Я согласен на обработку персональных данных
