$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$pt-mono: "PT Mono", "Consolas", monospace;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$blue: #00b2ff;
$grey: #ebebeb;
